.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(96, 84, 84, 0.12);
    padding: 2.2em 5em;
    justify-content: space-between;
}

.navbar-container > li {
    list-style: none;
    background-color: transparent;
}

.searchbar-container {
    width: 60%;
    position: relative;
}

.searchbar-container::before {
    content: url("./../assets/search.svg");
    position: absolute;
    top: 50%;
    left: 1.25em;
    transform: translateY(-49%) scale(0.9);
    /* text-align: center; */
}

.navbar-searchbar {
    background-color: rgba(96, 84, 84, 0.4);
    outline: none;
    color: white;
    border: none;
    border-radius: 25em;
    padding: 0.6em 1em 0.6em 3.5em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: "Jersey 25", sans-serif;
}

.navbar-searchbar::placeholder {
    font-family: "Jersey 25", sans-serif;
}

.navbar-userimg {
    background-color: transparent;
}

.navbar-logo {
}
