.register-whole-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: rgba(49, 45, 45, 0.3);
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 72%;
    align-items: center;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
}

.register-container > * {
    background-color: transparent;
}

.register-image-container {
    display: flex;
    width: 30%;
    height: 72%;
    background-image: url("./../assets/homeImage.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
}

.register-logo {
    align-self: start;
    margin-top: 10%;
    margin-left: 10%;
}

.register-title-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    letter-spacing: 0.02em;
    font-weight: lighter;
    margin-top: 15%;
    margin-bottom: 15%;
    align-self: flex-start;
    position: relative;
    left: -10%;
}

.register-title {
    background-color: transparent;
    color: whitesmoke;
    font-family: "Jersey 25", san-serif;
    font-size: 2.75rem;
    line-height: 0.85em;
}

.register-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-center-container > div > input,
.register-center-container > button {
    background-color: rgb(47, 47, 47);
    outline: none;
    border: none;
    color: whitesmoke;
    border-radius: 10em;
}

.register-center-container > div > input {
    padding: 0.7em 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.25em;
    padding-right: 1em;
}

.register-center-container > .register-username-container,
.register-center-container > .register-password-container,
.register-center-container > .register-confirmpassw-container {
    background-color: transparent;
    width: 100%;
    position: relative;
    margin-bottom: 7.5%;
}

.register-center-container > button {
    background-color: rgb(255, 56, 56);
    border: none;
    padding: 0.7em 2em;
    font-family: "Jersey 25", san-serif;
    cursor: pointer;
    margin-bottom: 10%;
}

.register-username-container::before {
    content: url("./../assets/username.png");
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0.4);
}

.register-password-container::before {
    content: url("./../assets/password.png");
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) scale(0.4);
}

.register-confirmpassw-container::before {
    content: url("./../assets/confirmpassword.png");
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) scale(0.4);
}

.register-account-container,
.register-account-container > * {
    background-color: transparent;
}

.register-account-title,
.register-account-link {
    font-family: "Jersey 25", sans-serif;
    color: whitesmoke;
}
